body {
  display: grid;
  grid-template-areas:  "header"
                        "main"
                        "footer";
  grid-gap: 0;
  grid-template-rows: 150px auto 150px;
  min-height: 100vh;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*THEMES*/

.body-dark-theme {
  background-color: black;
  background-image: url("img/dark-background.jpg");
  color: rgb(157, 197, 209);
  text-shadow: 1px 1px 1px rgba(176, 208, 223, 0.9);
}
.body-dark-theme h2 {
  text-shadow: 2px 2px 2px rgba(57, 204, 244, 0.5);
}
.body-dark-theme .heading h1 {
  text-shadow: 2px 2px 2px rgba(169, 223, 240, 0.7);
}
.body-light-theme {
  background-color: rgb(249, 249, 249);
  background-image: url("img/light2-background.jpg");
  color: rgb(61, 66, 73);
}
.theme-button {
  color: inherit;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 20px;
}
.light-button {
  background-color: rgba(183, 221, 228, 0.59);
}
.dark-button {
  background-color: rgba(13, 19, 19, 0.53);
}
.header-light-theme,
.footer-light-theme {
  min-height: 100px;
  color: rgb(50, 96, 122);
}
.header-dark-theme,
.footer-dark-theme {
  min-height: 100px;
  color: rgb(133, 200, 232);
}
.header-light-theme,
.header-dark-theme {
  background: linear-gradient(to top, rgba(120, 174, 180, 0), rgba(120, 174, 180, 1));
}
.footer-dark-theme,
.footer-light-theme {
  background: linear-gradient(to bottom, rgba(120, 174, 180, 0), rgba(120, 174, 180, 0.7));
}

/*HEADER*/

header a {
  padding: 2px 10px;
}
header nav a:hover,
.theme-button:hover {
  background-color: rgba(16, 100, 111, 0.3);
  border-radius: 5px;
  color: rgb(53, 215, 215);
}

header {
  position: fixed;
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6em;
  width: 100%;
}

header nav {
  min-width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*MAIN*/

body,
main {
  margin: 0 auto;
}

main {
  grid-area: main;
  margin-bottom: 3em;
  width: 70%;
}

.wrapper {
  background-color: rgba(222, 233, 236, 0.2);
  padding: 20px 20px 20px 40px;
  border-radius: 10px;
}

/*HEADING*/

#user {
  width: 200px;
  border-radius: 50%;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  margin: 7em 20px 5em;
  min-width: 40em;
}
.heading p {
  font-size: 2em;
  text-shadow: 2px 2px 2px rgba(25, 35, 37, 0.7);
  margin-top: 20px;
  text-align: center;
}
.heading-h1 {
  margin-top: 0.5em;
  color: rgba(70, 144, 176, 0.7);
  text-shadow: 1px 1px 1px rgba(25, 35, 37, 0.7);
  font-size: 4em;
}

/*INTRODUTION*/

.intro {
  margin: 0 0 50px;
}
.subheading {
  margin: 0 0 45px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  text-shadow: 3px 3px 3px rgba(25, 35, 37, 0.5);
  font-size: 3.5em;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}
.intro h3,
.portfolio h3 {
  margin: 0 0 12px 10px;
  font-size: 1.8em;
  text-shadow: 1px 1px 1px rgba(106, 153, 176, 0.5);
  line-height: 40px;
  font-weight: 500;
}
.intro p {
  margin: 0 0 32px;
}

/*EDUCATION*/

#education-div {
  display: flex;
  justify-content: space-around;
}
#education-div div {
  padding:  0.3em 0.7em 0 0.3em;
}
#education-div div p {
  padding-left: 0.7em;
}
#education-div div h3 {
  font-size: 1.5em;
}
/*SKILLS*/

.skills-list {
  margin: 0;
  padding: 0;
}
.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-eng {
  background-size: 1.4em;
  background-image: url("img/icon-eng.png");
}
.skill-html {
  background-image: url("img/icon-html.svg");
}
.skill-css {
  background-image: url("img/icon-css.svg");
}
.skill-js {
  background-size: 1.4em;
  background-image: url("img/icon-js.png");
}
.skill-php {
  background-size: 1.4em;
  background-image: url("img/icon-php.png");
}
.skill-ror {
  background-size: 1.4em;
  background-image: url("img/icon-ror.png");
}
.skill-c {
  background-size: 1.4em;
  background-image: url("img/icon-c.png");
}

.level {
  margin: 4px 0 10px;
  padding: 0;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}
.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}


.portfolio {
  margin: 0 0 60px;
}

.portfolio img {
  margin-bottom: 3em;
}
/*FOOTER*/

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 4em 0;
}

.email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
  background-repeat: no-repeat;
  background-position: left;
}
.insta {
  padding-left: 30px;
  background-image: url("img/icon-insta-header.svg");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: rgb(33, 185, 241);
}
