@import "../common/sass/variables";
@import "../common/sass/mixins";

.contactsBlock {
  @include wrapper($backgroundColorLight);

  .container {
    @include container();

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      input, textarea {
        background-color: $backgroundColorDark;
        box-shadow: 0 0 5px #5b5b5b;
        border: 1px solid #282828;
        padding: 7px;
        outline: none;
        color: inherit;
        border-radius: 4px;
        font-size: 1em;

        &:hover {
          border: 1px solid $mainColor;
        }
        &:focus {
          border: 1px solid $mainColor;
          box-shadow: 0 0 3px $mainColor;
        }
      }

      textarea {
        font-size: 1.3em;
        height: 150px;
      }

      * {
        margin: 5px;
      }

      .btnBox {
        text-align: center;

        button {
          background-color: $backgroundColorDark;
          border-radius: 7px;
          padding: 10px 50px;
          color: $titleColor;
          z-index: 3;
          border: 1px solid rgba(0, 0, 0, 0);

          &:hover {
            cursor: pointer;
            border: 1px solid $mainColor;
          }
        }
      }

      @media screen and (max-width: 550px) {
        width: 100%;
      }
      @media (min-width: 550px) and (max-width: 1000px) {
        width: 80%;
      }
    }
  }
}





