.contactsBlock {
    background-color: #fddde8;
}
.container {
    flex-direction: column;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid grey;
    max-width: 600px;
    min-width: 100%;
    height: 300px;
    background-color: #c3efe0;
}
.form > * {
    margin: 5px;
}
.btnBox {
    text-align: center;
}
.btnBox > button:hover {
    cursor: pointer;
}