.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid grey;
    margin: 0 20px;
}
.link {
    text-decoration: none;
    color: inherit;
    margin: 7px 15px;
}