.container {
    border: 1px solid grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px 0;
}