@import "src/common/sass/variables";
.skillBlock {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100px;

    .titleBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imgBox {
            height: 50px;
            width: 50px;
            background-position: center;
            background-size: cover;
        }

        .title {
            color: $titleColor;
            font-weight: normal;
        }
    }
}

