.title {
    text-transform: capitalize;
    position: relative;
    margin: 0 0 50px 0;
    color: #e0e0e0;
}
.title::before {
    content: '';
    position: absolute;
    background-color: #cec41d;
    width: 55px;
    height: 2px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 50%);
}