@import "../common/sass/variables";
@import "../common/sass/mixins";
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');

.home {
  @include wrapper($backgroundColorDark);
  background-position: center;
  background-size: cover;
  background-image: url("../common/images/photos/home.jpg");

  .container {
    @include container();
    flex-direction: row;
    justify-content: flex-start;

    .greeting {
      margin-top: 20px;

      .title {
        font-size: 3em;

        .name {
          color: $mainColor;
          font-family: 'Merienda', cursive;
        }
      }

      .dev {
        font-size: 2em;
        font-weight: normal;

      }

      .linksBox {
        width: 200px;
      }

      @media (min-width: 490px) and (max-width: 1000px) {
        .title, .dev {
          font-size: 2em;
          margin: 0 50px;
        }
        .linksBox {
          margin: 0 50px;
        }
      }
      @media screen and (max-width: 490px) {
        .title, .dev {
          font-size: 1.5em;
          margin: 0 25px;
        }
        .linksBox {
          margin: 0 25px;
          width: 100px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    background-image: none;
  }
}
