.home {
    background-color: #fddde8;
}
/*GREETING*/
.greeting {
    background-color: #ffffff;
    width: 300px;
    margin-top: 20px
}
.title {
    background-color: #ead5d5;
}
.description {
    background-color: #ead5d5;
}
/*PHOTO*/
.photo {
    background-color: #e1dbdb;
    height: 400px;
    width: 300px;
    margin: 10px;
}