@import "../common/sass/variables";
@import "../common/sass/mixins";

.aboutBlock {
  @include wrapper($backgroundColorDark);

  .container {
    @include container();

    .contentAbout {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .img {
        width: 400px;
        height: 300px;
        margin: 15px;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 10px rgba(190, 190, 190, 0.53);

        @media screen and (min-width: 1000px) {
          width: 500px;
          height: 400px;
        }
        @media screen and (max-width: 500px) {
          width: 300px;
          height: 200px;
        }
      }

      .description {
        max-width: 600px;
        text-align: justify;
        margin: 15px;
      }

    }

    }
  }





