@import "../common/sass/mixins";
@import "../common/sass/variables";

.footerBlock {
  @include wrapper($backgroundColorDark);
  min-height: 150px;
  flex-direction: column;
  justify-content: flex-end;

  .copyRight {
    font-size: 0.7em;
  }
}