.footerBlock {
    min-height: 150px;
}
.linksBox {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    border: 1px solid grey;
}
.imgBox {
    min-height: 50px;
    min-width: 50px;
    margin: 15px;

    background-color: #d28b8b;
}