.projectsBlock {
    background-color: #f0e1fe;
}
.container {
    flex-direction: column;
    justify-content: center;
}
.projects {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}